*{
    box-sizing: border-box;
}
@font-face {
    font-family: pac;
    src: url(../assets/pac.TTF);
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: blanchedalmond;
}
.letrero{
    border-radius: 3rem;
    background-color: rgb(60, 59, 60);
    color: rgb(21, 129, 183);
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra{
    background-color: rgb(21, 129, 183) ;
    height: 0.5rem;
    margin: 1rem;
}
.lista, .letrero{
    font-family: pac;
    
}
.fondo {
    display: flex;
    background-image: url(../assets/tablerouno.png);
    background-size: 100%;
    height: 70vh;
    background-repeat: no-repeat;
}

.pacmanmotion {
    left: 16%;
    position: relative;
    animation: pacman 5s infinite;
}

@keyframes pacman {
    0% {top: 3%; left: 16%; rotate: 0deg;}
    10% {top: 3%; left: 45%; rotate: 90deg;}
    20% {rotate: 90deg;}
    30% {top: 15%; left: 45%;}
    35% {rotate: 10deg;}
    45% {top: 15%; left: 69%;}
    50% {rotate: 90deg;}
    55% {top: 80%; left: 69%;}
    60% {rotate: 10deg;}
    70% {top: 80%; left: 69%;}
    80% {top: 80%; left: 77%;}
    83% {rotate: -40deg;}
    85% {top: 70%; left: 77%;}
    90% {top: 70%; left: 82%;}
    95% {top: 67%; left: 82%; width: 3%; height: 5%;}
    100% {top: 67%; left: 82%; width: 5%; height: 8%;}
    
}
.bichoUno {
    top: 90%;
    left: 12.5%;
    position: relative;
    animation: bichoUno 5s infinite;
}
@keyframes bichoUno {
    0% {top: 90%; left: 12.5%;}
    10% {left: 42%}
    20% {left: 42%; top: 90%;}
    30% {left: 42%; top: 80%;}
    40% {left: 35%; top: 80%;}
    50% {left: 35%; top: 70%;}
    60% {left: 25%; top: 70%;}
    70% {left: 25%; top: 1%;}
    80% {left: 13%; top: 1%;}
    90% {left: 13%; top: 6%;}
    95% {left: 13%; top: 8%;}
    100% {left: 13%; top: 8%;}
}