*{
    box-sizing: border-box;
}
@font-face {
    font-family: pac;
    src: url(../assets/pac.TTF);
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: black;
    color: blanchedalmond;
}
.letrero{
    border-radius: 3rem;
    color: rgb(21, 129, 183);
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra{
    background-color: rgb(21, 129, 183) ;
    height: 0.5rem;
    margin: 1rem;
}
.lista, .letrero{
    font-family: pac;
    
}
@media screen and (min-width: 500px) and (max-width: 768px) {
    .container{
        background-color: rgb(26, 9, 31);
    }
    .fondo {
        display: flex;
        background-image: url(../assets/tablerouno.png);
        background-size: 100%;
        height: 60vh;
        background-repeat: no-repeat;
    }
    
    .bichoUno {
        top: 65%;
        left: 15%;
        position: relative;
        animation: bichoUno 3s infinite;
    }
    @keyframes bichoUno {
        0% {top: 65%; left: 15%;}
        10% {top: 65%; left: 53%;}
        20% {top: 59%; left: 53%;}
        30% {top: 59%; left: 61%;}
        40% {top: 52%; left: 61%;}
        50% {top: 52%; left: 53%;}
        55% {top: 45%; left: 53%;}
        60% {top: 45%; left: 61%;}
        70% {top: 25%; left: 61%;}
        80% {top: 25%; left: 48.5%;}
        100% {top: 30%; left: 48.5%;}
    }    
    
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .container{
        background-color: rgb(29, 10, 65);
    }
    .fondo {
        display: flex;
        background-image: url(../assets/tablerouno.png);
        background-size: 100%;
        height: 75vh;
        background-repeat: no-repeat;
    }
    
    .bichoUno {
        top: 70%;
        left: 16%;
        position: relative;
        animation: bichoUno 3s infinite;
    }
    @keyframes bichoUno {
        0% {top: 70%; left: 16%;}
        10% {top: 70%; left: 52.5%;}
        20% {top: 63%; left: 52.5%;}
        30% {top: 63%; left: 60%;}
        40% {top: 55%; left: 60%;}
        50% {top: 55%; left: 53%;}
        55% {top: 48%; left: 53%;}
        60% {top: 48%; left: 60%;}
        70% {top: 26%; left: 60%;}
        80% {top: 26%; left: 48.5%;}
        85% {top: 26%; left: 48.5%;}
        90%  {top: 30%; left: 48.5%;}
        100% {top: 34%; left: 48.5%;}
    }  
    
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .container{
        background-color: rgb(57, 7, 48);
    }
    .fondo {
        display: flex;
        background-image: url(../assets/tablerouno.png);
        background-size: 100%;
        height: 75vh;
        background-repeat: no-repeat;
    }
    
    .bichoUno {
        top: 70%;
        left: 15%;
        position: relative;
        animation: bichoUno 3s infinite;
    }
    @keyframes bichoUno {
        0% {top: 70%; left: 15%;}
        10% {top: 70%; left: 53%;}
        20% {top: 63%; left: 53%;}
        30% {top: 63%; left: 61%;}
        40% {top: 56%; left: 61%;}
        50% {top: 56%; left: 53%;}
        55% {top: 48%; left: 53%;}
        60% {top: 48%; left: 60%;}
        70% {top: 26%; left: 60%;}
        80% {top: 26%; left: 48.5%;}
        100% {top: 34%; left: 48.5%;}
    }  
    
}
@media screen and (min-width: 1201px) and (max-width: 1440px) {
    .container{
        background-color: rgb(21, 2, 7);
    }
    .fondo {
        display: flex;
        background-image: url(../assets/tablerouno.png);
        background-size: 100%;
        height: 80vh;
        background-repeat: no-repeat;
    }
    
    .bichoUno {
        top: 78%;
        left: 16%;
        position: relative;
        animation: bichoUno 3s infinite;
    }
    @keyframes bichoUno {
        0% {top: 78%; left: 16%;}
        10% {top: 78%; left: 53%;}
        20% {top: 70%; left: 53%;}
        30% {top: 70%; left: 53%;}
        40% {top: 70%; left: 60%;}
        50% {top: 62%; left: 60%;}
        55% {top: 62%; left: 53%;}
        60% {top: 55%; left: 53%;}
        70% {top: 55%; left: 60%;}
        80% {top: 29%; left: 60%;}
        85% {top: 29%; left: 48.5%;}
        90% {top: 33%; left: 48.5%;}
        100% {top: 40%; left: 48.5%;}
    }  
    .bichoDos {
        top:13%;
        left: 13%;
        position: relative;
        animation: bichoDos 4s infinite;
    }
    @keyframes bichoDos {
       0% {top: 13%; left: 13%;}
       30% {top: 20%; left: 13%;}
       40% {top: 20%; left: 26%;}
       50% {top: 38%; left: 26%;}
       56% {top: 38%; left: 34%;}
       67% {top: 29%; left: 34%;}
       70% {top: 29%; left: 34%;}
       85% {top: 29%; left: 46%;}
       90% {top: 29%; left: 46%;}
       95% {top: 38%; left: 46%;}
       100% {top: 38%; left: 52%;}
       
    } 
    
}